<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsEatAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Admin_Order_Complete_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Order_Compete"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Order_Process_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Order_Process"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Order_Display"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Order_See_Detail"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Delivery_Edit"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Staff_Edit"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Peoduct_Edit"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Offer_Edit"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Product_Filter"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Payment_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Order_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Delivery_History_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Delivery_Profile"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_delivery_Add_Edit"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".Activities.Admin_Delivery_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Offer_Add"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Product_Add"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Offer"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Offers_View_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Product_View_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Drink"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Combo"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Pizza"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Burger"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Staff_Add"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Staff_Design"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Payment"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Edit"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_UID_Verify"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Registration"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin_Login"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminSplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>